In [1]:
import pandas as pd
import numpy as np
data= pd.read_csv("tmdb_movies_data.csv")

In [39]:
data

,popularity,budget,revenue,original_title,cast,director,tagline,keywords,overview,runtime,...,vote_count,vote_average,release_year,budget_adj,revenue_adj,release_month,release_day,score,score_category,content
0,32.334830,4.379374,12.595978,4423,1739,899,6087,5064,9631,0.698826,...,9.285405,0.561522,1970,3.511161,9.272766,1,1,51,Medium,116 1739 899
1,27.769638,4.379374,2.894175,5061,10084,1681,7291,3100,2942,0.571356,...,10.367768,1.203165,1970,3.511161,2.052171,1,1,92,High,116 10084 1681
2,12.464335,3.085370,2.183069,4149,9278,4130,4278,695,3577,0.539489,...,3.930923,0.347641,1970,2.438419,1.522928,1,1,14,Low,578 9278 4130
3,10.525201,5.996880,17.336648,7375,3697,1942,1705,292,9254,1.081236,...,8.816323,1.630927,1970,4.852090,12.801024,1,1,71,High,114 3697 1942
4,8.687366,5.673379,12.533759,3210,10331,2058,7128,1320,4196,1.113103,...,4.742261,1.417046,1970,4.583904,9.226460,1,1,60,Medium,224 10331 2058
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10861,-0.565764,-0.473143,-0.340376,8263,7099,611,7981,7795,8389,-0.225331,...,-0.358569,1.523987,1970,-0.511624,-0.355153,1,1,12,Low,957 7099 611
10862,-0.580817,-0.473143,-0.340376,3431,4166,2397,1292,1317,5157,2.355935,...,-0.342933,-0.294003,1970,-0.511624,-0.355153,1,1,88,High,54 4166 2397
10863,-0.581219,-0.473143,-0.340376,1115,3939,1392,7981,1343,3067,-0.257198,...,-0.358569,0.561522,1970,-0.511624,-0.355153,1,1,65,Medium,1613 3939 1392
10864,-0.582043,-0.473143,-0.340376,10252,9778,4999,7153,7434,5676,-0.703343,...,-0.339458,-0.614825,1970,-0.511624,-0.355153,1,1,65,Medium,143 9778 4999
10865,-0.610437,-0.472528,-0.340376,5152,3673,1833,3317,2934,671,-0.894547,...,-0.351620,-4.785507,1970,-0.507903,-0.355153,1,1,15,Low,1478 3673 1833

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    10866 non-null  int64
 1   imdb_id               10856 non-null  object
 2   popularity            10866 non-null  float64
 3   budget                10866 non-null  int64
 4   revenue               10866 non-null  int64
 5   original_title        10866 non-null  object
 6   cast                  10790 non-null  object
 7   homepage              2936 non-null   object
 8   director              10822 non-null  object
 9   tagline               8042 non-null   object
 10  keywords              9373 non-null   object
 11  overview              10862 non-null  object
 12  runtime               10866 non-null  int64
 13  genres                10843 non-null  object
 14  production_companies  9836 non-null   object
 15  release_date          10866 non-null  object
 16  vote_count            10866 non-null  int64
 17  vote_average          10866 non-null  float64
 18  release_year          10866 non-null  int64
 19  budget_adj            10866 non-null  float64
 20  revenue_adj           10866 non-null  float64
dtypes: float64(4), int64(6), object(11)
memory usage: 1.7+ MB

In [4]:
data.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015,137999939.3,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015,137999939.3,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015,101199955.5,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015,183999919.0,1.902723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015,174799923.1,1.385749e+09

In [5]:
data.isnull().sum()

id                         0
imdb_id                   10
popularity                 0
budget                     0
revenue                    0
original_title             0
cast                      76
homepage                7930
director                  44
tagline                 2824
keywords                1493
overview                   4
runtime                    0
genres                    23
production_companies    1030
release_date               0
vote_count                 0
vote_average               0
release_year               0
budget_adj                 0
revenue_adj                0
dtype: int64

In [6]:
data.describe()

,id,popularity,budget,revenue,runtime,vote_count,vote_average,release_year,budget_adj,revenue_adj
count,10866.000000,10866.000000,1.086600e+04,1.086600e+04,10866.000000,10866.000000,10866.000000,10866.000000,1.086600e+04,1.086600e+04
mean,66064.177434,0.646441,1.462570e+07,3.982332e+07,102.070863,217.389748,5.974922,2001.322658,1.755104e+07,5.136436e+07
std,92130.136561,1.000185,3.091321e+07,1.170035e+08,31.381405,575.619058,0.935142,12.812941,3.430616e+07,1.446325e+08
min,5.000000,0.000065,0.000000e+00,0.000000e+00,0.000000,10.000000,1.500000,1960.000000,0.000000e+00,0.000000e+00
25%,10596.250000,0.207583,0.000000e+00,0.000000e+00,90.000000,17.000000,5.400000,1995.000000,0.000000e+00,0.000000e+00
50%,20669.000000,0.383856,0.000000e+00,0.000000e+00,99.000000,38.000000,6.000000,2006.000000,0.000000e+00,0.000000e+00
75%,75610.000000,0.713817,1.500000e+07,2.400000e+07,111.000000,145.750000,6.600000,2011.000000,2.085325e+07,3.369710e+07
max,417859.000000,32.985763,4.250000e+08,2.781506e+09,900.000000,9767.000000,9.200000,2015.000000,4.250000e+08,2.827124e+09

In [7]:
data.drop("homepage",axis=1)

,id,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,keywords,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,monster|dna|tyrannosaurus rex|velociraptor|island,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,future|chase|post-apocalyptic|dystopia|australia,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015,1.379999e+08,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,based on novel|revolution|dystopia|sequel|dyst...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015,1.012000e+08,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,android|spaceship|jedi|space opera|3d,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015,1.839999e+08,1.902723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,car race|speed|revenge|suspense|car,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015,1.747999e+08,1.385749e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10861,21,tt0060371,0.080598,0,0,The Endless Summer,Michael Hynson|Robert August|Lord 'Tally Ho' B...,Bruce Brown,NaN,surfer|surfboard|surfing,"The Endless Summer, by Bruce Brown, is one of ...",95,Documentary,Bruce Brown Films,6/15/1966,11,7.4,1966,0.000000e+00,0.000000e+00
10862,20379,tt0060472,0.065543,0,0,Grand Prix,James Garner|Eva Marie Saint|Yves Montand|Tosh...,John Frankenheimer,Cinerama sweeps YOU into a drama of speed and ...,car race|racing|formula 1,Grand Prix driver Pete Aron is fired by his te...,176,Action|Adventure|Drama,Cherokee Productions|Joel Productions|Douglas ...,12/21/1966,20,5.7,1966,0.000000e+00,0.000000e+00
10863,39768,tt0060161,0.065141,0,0,Beregis Avtomobilya,Innokentiy Smoktunovskiy|Oleg Efremov|Georgi Z...,Eldar Ryazanov,NaN,car|trolley|stealing car,An insurance agent who moonlights as a carthie...,94,Mystery|Comedy,Mosfilm,1/1/1966,11,6.5,1966,0.000000e+00,0.000000e+00
10864,21449,tt0061177,0.064317,0,0,"What's Up, Tiger Lily?",Tatsuya Mihashi|Akiko Wakabayashi|Mie Hama|Joh...,Woody Allen,WOODY ALLEN STRIKES BACK!,spoof,"In comic Woody Allen's film debut, he took the...",80,Action|Comedy,Benedict Pictures Corp.,11/2/1966,22,5.4,1966,0.000000e+00,0.000000e+00
10865,22293,tt0060666,0.035919,19000,0,Manos: The Hands of Fate,Harold P. Warren|Tom Neyman|John Reynolds|Dian...,Harold P. Warren,It's Shocking! It's Beyond Your Imagination!,fire|gun|drive|sacrifice|flashlight,A family gets lost on the road and stumbles up...,74,Horror,Norm-Iris,11/15/1966,15,1.5,1966,1.276423e+05,0.000000e+00

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    10866 non-null  int64
 1   imdb_id               10856 non-null  object
 2   popularity            10866 non-null  float64
 3   budget                10866 non-null  int64
 4   revenue               10866 non-null  int64
 5   original_title        10866 non-null  object
 6   cast                  10790 non-null  object
 7   homepage              2936 non-null   object
 8   director              10822 non-null  object
 9   tagline               8042 non-null   object
 10  keywords              9373 non-null   object
 11  overview              10862 non-null  object
 12  runtime               10866 non-null  int64
 13  genres                10843 non-null  object
 14  production_companies  9836 non-null   object
 15  release_date          10866 non-null  object
 16  vote_count            10866 non-null  int64
 17  vote_average          10866 non-null  float64
 18  release_year          10866 non-null  int64
 19  budget_adj            10866 non-null  float64
 20  revenue_adj           10866 non-null  float64
dtypes: float64(4), int64(6), object(11)
memory usage: 1.7+ MB

In [9]:
data.isnull().sum()

id                         0
imdb_id                   10
popularity                 0
budget                     0
revenue                    0
original_title             0
cast                      76
homepage                7930
director                  44
tagline                 2824
keywords                1493
overview                   4
runtime                    0
genres                    23
production_companies    1030
release_date               0
vote_count                 0
vote_average               0
release_year               0
budget_adj                 0
revenue_adj                0
dtype: int64

In [10]:
data.describe()

,id,popularity,budget,revenue,runtime,vote_count,vote_average,release_year,budget_adj,revenue_adj
count,10866.000000,10866.000000,1.086600e+04,1.086600e+04,10866.000000,10866.000000,10866.000000,10866.000000,1.086600e+04,1.086600e+04
mean,66064.177434,0.646441,1.462570e+07,3.982332e+07,102.070863,217.389748,5.974922,2001.322658,1.755104e+07,5.136436e+07
std,92130.136561,1.000185,3.091321e+07,1.170035e+08,31.381405,575.619058,0.935142,12.812941,3.430616e+07,1.446325e+08
min,5.000000,0.000065,0.000000e+00,0.000000e+00,0.000000,10.000000,1.500000,1960.000000,0.000000e+00,0.000000e+00
25%,10596.250000,0.207583,0.000000e+00,0.000000e+00,90.000000,17.000000,5.400000,1995.000000,0.000000e+00,0.000000e+00
50%,20669.000000,0.383856,0.000000e+00,0.000000e+00,99.000000,38.000000,6.000000,2006.000000,0.000000e+00,0.000000e+00
75%,75610.000000,0.713817,1.500000e+07,2.400000e+07,111.000000,145.750000,6.600000,2011.000000,2.085325e+07,3.369710e+07
max,417859.000000,32.985763,4.250000e+08,2.781506e+09,900.000000,9767.000000,9.200000,2015.000000,4.250000e+08,2.827124e+09

In [11]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

# Assuming 'data' is your DataFrame containing the specified columns
# Sample DataFrame (replace this with your actual DataFrame loading code)
# data = pd.DataFrame(...)  # Load your data here

# Initialize the LabelEncoder
le = LabelEncoder()

# List of columns to encode (only categorical columns)
columns_to_encode = ['original_title', 'cast', 'homepage', 'director', 
                     'tagline', 'keywords', 'overview', 'genres', 
                     'production_companies', 'release_date','imdb_id']

# Fit and transform the specified columns
for column in columns_to_encode:
    if column in data.columns:  # Check if the column exists in the DataFrame
        # Convert the column to string type to avoid errors with non-string data
        data[column] = le.fit_transform(data[column].astype(str))
    else:
        print(f"Column '{column}' does not exist in the DataFrame.")

# Display the updated DataFrame (or a sample of it)
print(data.head())  # Show the first few rows of the DataFrame
print(data.info())  # Display information about the DataFrame, including column types

       id  imdb_id  popularity     budget     revenue  original_title   cast  \
0  135397     4995   32.985763  150000000  1513528810            4423   1739
1   76341     7784   28.419936  150000000   378436354            5061  10084
2  262500    10119   13.112507  110000000   295238201            4149   9278
3  140607     9868   11.173104  200000000  2068178225            7375   3697
4  168259    10076    9.335014  190000000  1506249360            3210  10331

   homepage  director  tagline  ...  overview  runtime  genres  \
0      1526       899     6087  ...      9631      124     116
1      1644      1681     7291  ...      2942      120     116
2      2423      4130     4278  ...      3577      119     578
3      2296      1942     1705  ...      9254      136     114
4      1273      2058     7128  ...      4196      137     224

   production_companies  release_date  vote_count  vote_average  release_year  \
0                  6823          4369        5562           6.5          2015
1                  6923          3470        6185           7.1          2015
2                  5788          2641        2480           6.3          2015
3                  3575          1642        5292           7.5          2015
4                  6701          2957        2947           7.3          2015

    budget_adj   revenue_adj
0  137999939.3  1.392446e+09
1  137999939.3  3.481613e+08
2  101199955.5  2.716190e+08
3  183999919.0  1.902723e+09
4  174799923.1  1.385749e+09

[5 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    10866 non-null  int64
 1   imdb_id               10866 non-null  int32
 2   popularity            10866 non-null  float64
 3   budget                10866 non-null  int64
 4   revenue               10866 non-null  int64
 5   original_title        10866 non-null  int32
 6   cast                  10866 non-null  int32
 7   homepage              10866 non-null  int32
 8   director              10866 non-null  int32
 9   tagline               10866 non-null  int32
 10  keywords              10866 non-null  int32
 11  overview              10866 non-null  int32
 12  runtime               10866 non-null  int64
 13  genres                10866 non-null  int32
 14  production_companies  10866 non-null  int32
 15  release_date          10866 non-null  int32
 16  vote_count            10866 non-null  int64
 17  vote_average          10866 non-null  float64
 18  release_year          10866 non-null  int64
 19  budget_adj            10866 non-null  float64
 20  revenue_adj           10866 non-null  float64
dtypes: float64(4), int32(11), int64(6)
memory usage: 1.3 MB
None

In [12]:
data.columns

Index(['id', 'imdb_id', 'popularity', 'budget', 'revenue', 'original_title',
       'cast', 'homepage', 'director', 'tagline', 'keywords', 'overview',
       'runtime', 'genres', 'production_companies', 'release_date',
       'vote_count', 'vote_average', 'release_year', 'budget_adj',
       'revenue_adj'],
      dtype='object')

In [13]:
data

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,4995,32.985763,150000000,1513528810,4423,1739,1526,899,6087,...,9631,124,116,6823,4369,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,7784,28.419936,150000000,378436354,5061,10084,1644,1681,7291,...,2942,120,116,6923,3470,6185,7.1,2015,1.379999e+08,3.481613e+08
2,262500,10119,13.112507,110000000,295238201,4149,9278,2423,4130,4278,...,3577,119,578,5788,2641,2480,6.3,2015,1.012000e+08,2.716190e+08
3,140607,9868,11.173104,200000000,2068178225,7375,3697,2296,1942,1705,...,9254,136,114,3575,1642,5292,7.5,2015,1.839999e+08,1.902723e+09
4,168259,10076,9.335014,190000000,1506249360,3210,10331,1273,2058,7128,...,4196,137,224,6701,2957,2947,7.3,2015,1.747999e+08,1.385749e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10861,21,223,0.080598,0,0,8263,7099,2896,611,7981,...,8389,95,957,858,3970,11,7.4,1966,0.000000e+00,0.000000e+00
10862,20379,229,0.065543,0,0,3431,4166,2896,2397,1292,...,5157,176,54,1104,1778,20,5.7,1966,0.000000e+00,0.000000e+00
10863,39768,213,0.065141,0,0,1115,3939,2896,1392,7981,...,3067,94,1613,3982,5,11,6.5,1966,0.000000e+00,0.000000e+00
10864,21449,249,0.064317,0,0,10252,9778,2896,4999,7153,...,5676,80,143,661,1179,22,5.4,1966,0.000000e+00,0.000000e+00
10865,22293,236,0.035919,19000,0,5152,3673,2896,1833,3317,...,671,74,1478,4318,1093,15,1.5,1966,1.276423e+05,0.000000e+00

In [14]:
data.isnull().sum()

id                      0
imdb_id                 0
popularity              0
budget                  0
revenue                 0
original_title          0
cast                    0
homepage                0
director                0
tagline                 0
keywords                0
overview                0
runtime                 0
genres                  0
production_companies    0
release_date            0
vote_count              0
vote_average            0
release_year            0
budget_adj              0
revenue_adj             0
dtype: int64

In [15]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

data['release_date'] = pd.to_datetime(data['release_date'], errors='coerce')
data['release_year'] = data['release_date'].dt.year
data['release_month'] = data['release_date'].dt.month
data['release_day'] = data['release_date'].dt.day

numerical_cols = ['popularity', 'budget', 'revenue', 'runtime', 
                  'vote_count', 'vote_average', 'budget_adj', 'revenue_adj']

scaler = StandardScaler()
data[numerical_cols] = scaler.fit_transform(data[numerical_cols])

columns_to_drop = ['id', 'imdb_id', 'homepage']
data.drop(columns=columns_to_drop, inplace=True)

print(data.head())
print(data.info())

   popularity    budget    revenue  original_title   cast  director  tagline  \
0   32.334830  4.379374  12.595978            4423   1739       899     6087
1   27.769638  4.379374   2.894175            5061  10084      1681     7291
2   12.464335  3.085370   2.183069            4149   9278      4130     4278
3   10.525201  5.996880  17.336648            7375   3697      1942     1705
4    8.687366  5.673379  12.533759            3210  10331      2058     7128

   keywords  overview   runtime  genres  production_companies  \
0      5064      9631  0.698826     116                  6823
1      3100      2942  0.571356     116                  6923
2       695      3577  0.539489     578                  5788
3       292      9254  1.081236     114                  3575
4      1320      4196  1.113103     224                  6701

                   release_date  vote_count  vote_average  release_year  \
0 1970-01-01 00:00:00.000004369    9.285405      0.561522          1970
1 1970-01-01 00:00:00.000003470   10.367768      1.203165          1970
2 1970-01-01 00:00:00.000002641    3.930923      0.347641          1970
3 1970-01-01 00:00:00.000001642    8.816323      1.630927          1970
4 1970-01-01 00:00:00.000002957    4.742261      1.417046          1970

   budget_adj  revenue_adj  release_month  release_day
0    3.511161     9.272766              1            1
1    3.511161     2.052171              1            1
2    2.438419     1.522928              1            1
3    4.852090    12.801024              1            1
4    4.583904     9.226460              1            1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   popularity            10866 non-null  float64
 1   budget                10866 non-null  float64
 2   revenue               10866 non-null  float64
 3   original_title        10866 non-null  int32
 4   cast                  10866 non-null  int32
 5   director              10866 non-null  int32
 6   tagline               10866 non-null  int32
 7   keywords              10866 non-null  int32
 8   overview              10866 non-null  int32
 9   runtime               10866 non-null  float64
 10  genres                10866 non-null  int32
 11  production_companies  10866 non-null  int32
 12  release_date          10866 non-null  datetime64[ns]
 13  vote_count            10866 non-null  float64
 14  vote_average          10866 non-null  float64
 15  release_year          10866 non-null  int32
 16  budget_adj            10866 non-null  float64
 17  revenue_adj           10866 non-null  float64
 18  release_month         10866 non-null  int32
 19  release_day           10866 non-null  int32
dtypes: datetime64[ns](1), float64(8), int32(11)
memory usage: 1.2 MB
None

In [25]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix
import seaborn as sns
import matplotlib.pyplot as plt 

# Step 1: Add a random 'score' column with values between 0 and 100
np.random.seed(42)  # Set seed for reproducibility
data['score'] = np.random.randint(0, 101, data.shape[0])

# Step 2: Create target categories based on 'score'
bins = [0, 40, 70, 100]
labels = ['Low', 'Medium', 'High']
data['score_category'] = pd.cut(data['score'], bins=bins, labels=labels)

# Step 3: Drop rows with any NaN values in relevant columns for simplicity
existing_columns = ['score', 'budget', 'revenue']  # Adjust based on your actual DataFrame columns
data_clean = data.dropna(subset=existing_columns)

# Step 4: Encode categorical variables, adjusting to existing columns
categorical_cols = ['country', 'orig_lang']
data_clean = pd.get_dummies(data_clean, columns=[col for col in categorical_cols if col in data_clean.columns], drop_first=True)

# Step 5: Define features and target
X = data_clean[['budget', 'revenue'] + [col for col in data_clean.columns if col.startswith('country_') or col.startswith('orig_lang_')]]
y

0        Medium
1          High
2           Low
3          High
4        Medium
          ...
10861       Low
10862      High
10863    Medium
10864    Medium
10865       Low
Name: score_category, Length: 10866, dtype: category
Categories (3, object): ['Low' < 'Medium' < 'High']

In [27]:
print(data.columns)

Index(['popularity', 'budget', 'revenue', 'original_title', 'cast', 'director',
       'tagline', 'keywords', 'overview', 'runtime', 'genres',
       'production_companies', 'release_date', 'vote_count', 'vote_average',
       'release_year', 'budget_adj', 'revenue_adj', 'release_month',
       'release_day', 'score', 'score_category'],
      dtype='object')

In [49]:
import pandas as pd

def recommend_movies(data):
    # Step 1: Get user preferences
    print("Welcome to the Movie Recommender!")
    preferred_genre = input("What genre do you prefer? (e.g., Action, Comedy, Drama, etc.): ")
    preferred_score = input("What is your minimum score preference? (e.g., Low, Medium, High): ")

    # Step 2: Map user input to numeric values for filtering
    score_mapping = {'Low': (0, 40), 'Medium': (40, 70), 'High': (70, 100)}
    if preferred_score not in score_mapping:
        print("Invalid score preference. Please choose from Low, Medium, or High.")
        return

    # Convert genres to strings and fill NaNs with an empty string
    data['genres'] = data['genres'].astype(str).fillna('')

    # Step 3: Filter the DataFrame based on user input
    score_range = score_mapping[preferred_score]
    filtered_data = data[
        (data['score'] >= score_range[0]) &
        (data['score'] < score_range[1]) &
        (data['genres'].str.contains(preferred_genre, case=False))
    ]

    # Debugging output
    print(f"Score Range: {score_range}")
    print(f"Preferred Genre: {preferred_genre}")
    print(f"Filtered Data Shape: {filtered_data.shape}")
    
    # Step 4: Recommend top 5 movies based on the filtered data
    if filtered_data.empty:
        print("No movies found matching your criteria.")
    else:
        top_movies = filtered_data.nlargest(5, 'score')
        print("Top 5 recommended movies:")
        for index, row in top_movies.iterrows():
            print(f"- {row['original_title']} (Score: {row['score']})")

# Example usage:
recommend_movies(data)

Welcome to the Movie Recommender!

What genre do you prefer? (e.g., Action, Comedy, Drama, etc.):  Comedy
What is your minimum score preference? (e.g., Low, Medium, High):  High

Score Range: (70, 100)
Preferred Genre: Comedy
Filtered Data Shape: (0, 23)
No movies found matching your criteria.

In [51]:
print("Unique scores in dataset:", data['score'].unique())
print("Unique genres in dataset:", data['genres'].unique())

Unique scores in dataset: [ 51  92  14  71  60  20  82  86  74  87  99  23   2  21  52   1  29  37
  63  59  32  75  57  88  48  90  58  41  91  79  61  46  50  54 100   6
  72  38  17   3  13   8  89  83  70  43   7  34  77  80  35  49   5  53
  62  33  73  94  47  39  84  81  25  40  28  44  64   0  10   4  27  11
  22  36  98  85  26  78  76  95  93  42  12  31  65  56  96  69  55  18
  67  16  68  97  15  19  66  30  24  45   9]
Unique genres in dataset: ['116' '578' '114' ... '463' '796' '1648']

In [53]:
# Mapping of genre IDs to genre names
genre_mapping = {
    28: 'Action',
    12: 'Adventure',
    16: 'Animation',
    35: 'Comedy',
    80: 'Crime',
    99: 'Documentary',
    18: 'Drama',
    14: 'Fantasy',
    27: 'Horror',
    10402: 'Music',
    9648: 'Mystery',
    10749: 'Romance',
    878: 'Science Fiction',
    10770: 'TV Movie',
    53: 'Thriller',
    10752: 'War',
    37: 'Western',
}

# Make sure to adjust this mapping according to the IDs present in your dataset.